body, html {
  height: 100%;
}

.content {
  /*box-sizing: border-box;*/
  height: 100%;
  background: #000;
  font: 60px arial;
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-top: 10%;
}

.zipperable {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*the cloth material and the tooth*/
.zipperable .header, .zipperable .footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -125px;
  border: 0 dotted silver;
  border-right-width: 25px;
  border-right-color: silver;
  transition: all 3s;
  background: #4a6b7e url(http://us.123rf.com/450wm/coffeemate/coffeemate1508/coffeemate150800065/44103070-blue-denim-jeans-with-tear-closed-up-texture.jpg?ver=6);
  background-size: cover;
}
.zipperable:hover .header, .zipperable:hover .footer {
  left: -100%;
  right: 100%;
}
.zipperable:hover .header {
  top: -33%;
  border-bottom-right-radius: 50%;
}
.zipperable:hover .footer {
  bottom: -33%;
  border-top-right-radius: 50%;
}
.zipperable .header {
  bottom: 50%;
  border-bottom-width: 25px;
}
.zipperable .footer {
  top: 50%;
  border-top-width: 25px;
}
/*the zipper tail*/
.zipperable .zipper {
  top: 50%;
  right: -87.5px;
  margin-top: -37.5px;
  width: 90px;
  height: 75px;
  border-top-left-radius: 15% 50%;
  border-bottom-left-radius: 15% 50%;
  background: rgb(224, 224, 224);
  transition: all 3s;
}
.zipperable .zipper, .zipperable .zipper:before, .zipperable .zipper:after, .zipperable .zipper * {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  top: 50%;
}

/*the zipper head*/
.zipperable .zipper:before {
  width: 87.5px;
  height: 87.5px;
  margin-top: -43.75px;
  right: -26.25px;
  transform: rotate(45deg);
  border-radius: 30%;
  border-top-right-radius: 50%;
  background: rgb(224, 224, 224);
}
.zipperable:hover .zipper {
  transition-duration: 2.5s;
  right: 120%;
}
