html, body {
  height: 100%;
  /*background-color: #101010;*/

}

#main {
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-image: url(./bg.jpg);
}

.square {
  position: relative;
  z-index: 1;
  float: left;
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, .75);

}